body {
  background-color: #282c34;
  color: aliceblue;
}

header {
  position: sticky;
  top: 0px;
  overflow: hidden;
  z-index: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

