.skill-group {
  margin: 20px;
}

.child-skill-group .skill-group {
  margin: 20px 0px 20px 20px;
}

.roadmap__parent-skill-group {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column wrap;
   align-content: center;
}

.roadmap__skill-group {
  background-color: #1e1f20;
  margin: 25px;
  border: 1px solid #97f0e1;
  width: 200px;
  border-radius: 10px;
  position: relative;
}

.roadmap__skill-group:nth-of-type(odd) {
  align-items: flex-start;
  margin-right: 20%;
  -webkit-box-shadow: 17px 15px 21px -9px rgba(0,0,0,0.6);
  -moz-box-shadow: 17px 15px 21px -9px rgba(0,0,0,0.6);
  box-shadow: 17px 15px 21px -9px rgba(0,0,0,0.6);
}

.roadmap__skill-group:nth-of-type(odd)::after {
  content: "";
  height: 75px;
  width: 100%;
  border-left: 1px #ff004c dotted;
  border-bottom: 1px #ff004c dotted;
  position: absolute;
  left: 50%;
  z-index: -1;
}

.roadmap__skill-group:nth-of-type(even) {
  align-items: flex-end;
  margin-left: 25%;
  -webkit-box-shadow: -19px 15px 21px -9px rgba(0,0,0,0.6);
  -moz-box-shadow: -19px 15px 21px -9px rgba(0,0,0,0.6);
  box-shadow: -19px 15px 21px -9px rgba(0,0,0,0.6);
}

.roadmap__skill-group:nth-of-type(even)::after {
  content: "";
  height: 75px;
  width: 100%;
  border-right: 1px #ff004c dotted;
  border-bottom: 1px #ff004c dotted;
  position: absolute;
  right: 50%;
  z-index: -1;
}

.roadmap__skill-group:last-of-type::after {
  content: none;
}

.roadmap__concept {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  background-color: #83ffea33;
  border-radius: 8px 8px 0px 0px;

}

.roadmap__child-skill {
  border-top: 2px solid #97f0e1;
  font-size: 12px;
  font-weight: 100;
}

.roadmap__child-skill--concept {
  padding: 10px;
  font-size: 14px;
}

.roadmap__grandchild-skill-group {
  border-top: 1px dotted #d4d4d4;
  padding: 10px;
}

.roadmap__grandchild-skill--concept {
  padding: 0px 10px 5px 10px;
  margin: 0px;
}
