.skill-group {
  margin: 20px;
}

.child-skill-group .skill-group {
  margin: 20px 0px 20px 20px;
}

.roadmap__parent-skill-group {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column wrap;
   align-content: center;
}

.roadmap__skill-group {
  background-color: #1e1f20;
  margin: 25px;
  border: 1px solid #97f0e1;
  width: 200px;
  border-radius: 10px;
  position: relative;
}

.roadmap__skill-group:nth-of-type(odd) {
  align-items: flex-start;
  margin-right: 20%;
  -webkit-box-shadow: 17px 15px 21px -9px rgba(0,0,0,0.6);
  -moz-box-shadow: 17px 15px 21px -9px rgba(0,0,0,0.6);
  box-shadow: 17px 15px 21px -9px rgba(0,0,0,0.6);
}

.roadmap__skill-group:nth-of-type(odd)::after {
  content: "";
  height: 75px;
  width: 100%;
  border-left: 1px #ff004c dotted;
  border-bottom: 1px #ff004c dotted;
  position: absolute;
  left: 50%;
  z-index: -1;
}

.roadmap__skill-group:nth-of-type(even) {
  align-items: flex-end;
  margin-left: 25%;
  -webkit-box-shadow: -19px 15px 21px -9px rgba(0,0,0,0.6);
  -moz-box-shadow: -19px 15px 21px -9px rgba(0,0,0,0.6);
  box-shadow: -19px 15px 21px -9px rgba(0,0,0,0.6);
}

.roadmap__skill-group:nth-of-type(even)::after {
  content: "";
  height: 75px;
  width: 100%;
  border-right: 1px #ff004c dotted;
  border-bottom: 1px #ff004c dotted;
  position: absolute;
  right: 50%;
  z-index: -1;
}

.roadmap__skill-group:last-of-type::after {
  content: none;
}

.roadmap__concept {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  background-color: #83ffea33;
  border-radius: 8px 8px 0px 0px;

}

.roadmap__child-skill {
  border-top: 2px solid #97f0e1;
  font-size: 12px;
  font-weight: 100;
}

.roadmap__child-skill--concept {
  padding: 10px;
  font-size: 14px;
}

.roadmap__grandchild-skill-group {
  border-top: 1px dotted #d4d4d4;
  padding: 10px;
}

.roadmap__grandchild-skill--concept {
  padding: 0px 10px 5px 10px;
  margin: 0px;
}
.label-group {
  display: flex;
}
/* badges */
.badges {
  margin: 0;
  padding: 0;
}

.achivement-group {
  display: flex;
}

.achivement {
  margin-left: 5px;
}

.usedinlearning::after {
  content: url(./images/iconfinder_Streamline-53_185073_usedinlearning.svg);
  /* background-size: 20px;
  background-color: rgb(255, 73, 53);
  height: 20px;
  width: 20px;
  position: absolute;
  border: 2px solid rgb(247, 160, 150);
  border-radius: 50px; */
}

/*
familar
usedinlearning iconfinder_Streamline-53_185073_usedinlearning.svg
pairprogramed iconfinder_Streamline-08_185027_pairprogramed.svg
usedinproduction iconfinder_Streamline-75_185095_usedinprod.svg
debugged iconfinder_Streamline-76_185096_debugged.svg
presentedonit iconfinder_Streamline-59_185079_presentedonit.svg
taughtanother iconfinder_Streamline-78_185098_taughtanother.svg
writtenblogarticle
yearsexp
yearsexp_2 iconfinder_Streamline-96_185116_yearsexp_2.svg
yearsexp_3 iconfinder_Streamline-02_185021_yearsexp_3.svg
yearsexp_4 iconfinder_Streamline-01_185020_yearsexp_4.svg
*/

/* https://www.iconfinder.com/iconsets/streamline-icon-set-free-pack */
